summary
{
  margin: 0;
  padding: 0;
  
  margin-bottom: $spacing-unit / 2;
  
  font-weight: $base-font-weight;

  @include relative-font-size(1.125);
  @media screen and (min-width: $on-large) {
    @include relative-font-size(1.25);
  }
  
  font-style: italic;
}

img
{
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}